@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
/* font-family: 'Raleway', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* font-family: 'Open Sans', sans-serif; */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 14px;
}
:root{
    /* primary */
    --Very-Dark-Blue: hsl(243, 87%, 12%);
    --Desaturated-Blue: hsl(238, 22%, 44%);
    /* accent */
    --Bright-Blue: hsl(224, 93%, 58%);
    --Moderate-Cyan: hsl(170, 45%, 43%);
    /* neutral */
    --Light-Grayish-Blue: hsl(240, 75%, 98%);
    --Light-Gray: hsl(0, 0%, 75%);
}
.container{
    max-width: 1000px;
    margin: 0 auto;
}
ul{
    list-style-type: none;
}
.nav{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    font-family: 'Raleway', sans-serif;
}
.logo{
    flex-grow: 1;
    /* border: 1px solid black; */
}

.grid{
    padding: 2rem;
    /* border: 1px solid blue; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-columns: 
    "files illu-1"
}
.illu-1 img{
    width: 100%;
}
.inner-box{
    /* border: 1px solid green; */
}
.review{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
.review img{
    width: 50px;
    border-radius: 50%;
}
.review-div{
    width: 70%;
    /* border: 1px solid black; */
    padding: 1rem;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.btn-2{
    display: block;
    background-color: var(--Bright-Blue);
    color: white;
    border: none;
    padding: 0.7rem 1rem;
    margin-top: 0.5rem;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
}
.before-footer{
    color: white;
    background-color: var(--Desaturated-Blue);
    gap: 5rem;
}
.started{
    padding-left: 2rem;
}
.footer{
    color: white;
    background-color: var(--Very-Dark-Blue);
}
.phone, .email{
    display: flex;
    gap: 1rem;
}
.footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 4rem 2rem;
}
h2, h3 {
    font-family: 'Raleway', sans-serif;
    margin-bottom: 1rem;
}
.btn-1{
    background: var(--Bright-Blue);
    color: white;
    padding: 0.7rem 1rem;
    width: 30%;
    border-radius: 5px;
    margin-left: 0.5rem;
    border: none;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
}
.input-1{
    width: 50%;
    height: 35px;
    /* border: 1px solid black; */
    border-radius: 2.5px;
    padding: 0.5rem;
    /* border: none; */
    border: 1px solid black;
    margin-top: 1rem;
}
.input-2{
    width: 80%;
    height: 35px;
    border-radius: 2.5px;
    border: none;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
}
.files{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}
.grid-2{
    background: url(images/bg-curve-desktop.svg);
    margin-top: 3rem;
}
p{
    line-height: 1.4rem;
    font-family: "Open-Sans", sans-serif;
}
.fylo-work{
    margin: 1rem 0;
    display: flex;
    gap: 0.5rem;
    border-bottom: 1px solid var(--Moderate-Cyan);
    align-items: center;
    width: 33%;
    font-family: 'Raleway', sans-serif;
}
.fylo-work a{
    text-decoration: none;
    color: var(--Moderate-Cyan);
}
.kyle{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bold-kyle{
    font-weight: 700;
}
.icon{
    width: 20px;
    height: 20px;
}
.socials{
    display: flex;
    gap: 0.5rem;
}
.socials a{
    color: white;
}
.others-1, .others-2{
    display: flex;
    justify-content: center;
}
.others-1 ul li{
    margin-bottom: 0.8rem;
}
.others-2 ul li{
    margin-bottom: 0.8rem;
}
.contact-details{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
.get p{
    color: white;
}


.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}


@media only screen and (max-width: 800px){
    .grid{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "illu-1"
        "files"
    }
    .illu-1{
        grid-area: illu-1;
    }
    .files{
        grid-area: files;
    }
    .logo-img{
        width: 100px;
    }
    .bottom-logo{
        color: white;
        filter: invert(100%);
    }
    .nav{
        gap: 1rem;
    }
    .grid-1{
        text-align: center;
    }
    .btn-1{
        display: block;
        margin-top: 0.8rem;
        width: 100%;
        margin-left: 0;
    }
    .input-1{
        width: 100%;
    }
    .review-div{
        width: 100%;
        margin-top: 2rem;
    }
    .fylo-work{
        width: clamp(160px, 20%, 60%);
        /* border: 1px solid black; */
        align-self: center;
    }
    .stay h2{
        text-align: center;
    }
    .btn-2, .input-2{
        width: 100%;
    }
    .started{
        padding: 0;
    }
    .footer{
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    .others-1, .others-2, .contact-details{
        justify-content: flex-start;
    }
    .bottom-logo{
        /* border: 1px solid white; */
    }
    .grid-2{
        background: none;
        background: url(images/bg-curve-mobile.svg);
    }
    .files, .illu-1{
        /* border: 1px solid black; */
    }
    .attribution{
        font-size: 13px;
        margin: 1rem 0;
    }
    .bottom-logo{
        width: 60%;
    }
}